.btn-primary{
    background-color: $purple;
    border: 1px solid $purple;
}

.btn-secondary,
.btn-primary{
    border-radius: 10px;
}

.btn-secondary{
    background-color: $grayish-blue;
    border: $grayish-blue;
}