@font-face {
    font-family: "nusxuri";
    src: url("/Assets/Fonts/Nusxuri/fonts/bpg-arial-webfont.ttf");
}

@font-face {
    font-family: "mtavruli";
    src: url("/Assets/Fonts/Mtavruli/fonts/bpg-glaho-web-caps-webfont.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');