.freshBot {
  background-color: $surface-primary;
  padding: 20px;
  border-radius: 20px;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: $surface-primary;
    border: none;
    position: absolute;
    top: 40%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    h2 {
      font-weight: 900;
      font-family: "IBM Plex Sans", sans-serif;
      color: $text-primary;
    }

    p {
      font-family: "BPG Glaho WEB Caps", sans-serif;
      color: $text-secondary;
      font-weight: 500;
    }
  }

  .shadow-container {
    background: $surface-primary;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    p {
      font-size: 11px;
      margin: 0;
      padding: 5px 0;
      color: $text-secondary;
    }

    a {
      color: $main-color;
    }
  }

  .freshBot-form {
    border: 1px solid $border-heavy;
    background-color: $surface-primary;
    padding: 10px 10px;
    border-radius: 17px;
    font-family: "BPG Arial", sans-serif;
    font-size: 14px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      border: none;
      background-color: $surface-primary;
      width: 100%;
      color: $text-primary;

      &::placeholder {
        color: $text-secondary;
      }

      &:focus {
        outline: none;
      }
    }

    .freshBot-submit {
      background-color: $text-primary;
      border-radius: 8px;
      width: 33px;
      height: 33px;
      margin: 0 0.2rem;
      color: $surface-primary;
      font-size: 14px;
      transition: 0.3s;

      &:last-child {
        color: $surface-primary;
        background-color: $text-primary;
        font-size: 17px;

        &.active,
        &:hover {
          background-color: $main-color;
          color: $text-primary;
        }
      }

      &:disabled {
        background-color: $surface-tertiary;
        color: $text-primary;
        opacity: 0.5;
      }
    }
  }

  #information-container {
    height: 100%;
    overflow-y: auto;
    padding-top: 6rem;
    padding-bottom: 7rem;
    width: 70%;
    margin: auto;

    .query-title {
      font-family: "BPG Glaho WEB Caps", sans-serif;
      color: $text-primary;
      margin-top: 10px;
      font-weight: bold;
    }

    .query-info {
      font-family: "BPG Arial", sans-serif;
      color: $text-secondary;
      margin-bottom: 5px;
    }

    h5 {
      font-family: "BPG Arial", sans-serif;
      color: $text-primary;
      font-size: 13px;
    }

    .undefined {
      color: $text-primary;
      font-family: "BPG Arial", sans-serif;
      background-color: $surface-secondary;
      padding: 10px;
      border-radius: 10px;
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 20px;
      display: block;
    }

    a {
      color: $text-secondary;
      font-family: "BPG Glaho WEB Caps", sans-serif;
      font-size: 14px;
      text-decoration: none;
      line-height: 2;
      font-weight: bold;

      i {
        font-weight: bold;
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: 95%;

    .shadow-container {
      p {
        display: none;
      }
    }

    .freshBot-form {
      width: 95%;
      margin-bottom: 10px;
    }

    #information-container {
      width: 100%;
    }
  }
}
