.freshBot {
  background-color: $body-color;
  padding: 20px;
  border-radius: 20px;

  & .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: $body-color;
    border: none;

    h2 {
      font-weight: 900;
      font-family: "IBM Plex Sans", sans-serif;
      color: $primary-text;
    }

    p {
      font-family: "BPG Glaho WEB Caps", sans-serif;
      color: $secondary-text;
      font-weight: 500;
    }
  }

  .shadow-container {
    background: $body-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    align-content: center;
    color: #ffffff;
    flex-direction: column;
    flex-wrap: wrap;

    p {
      font-size: 11px;
      margin: 0;
      padding: 5px 0;
    }
  }

  & .freshBot-form {
    border: 1px solid $border-bold;
    background-color: $body-color;
    padding: 10px 10px;
    border-radius: 17px;
    font-family: "BPG Arial", sans-serif;
    font-size: 14px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & input {
      border: none;
      background-color: $body-color;
      width: 100%;
      color: $primary-text;

      &::placeholder {
        color: $secondary-text;
      }

      &:focus {
        outline: none;
      }
    }

    & .freshBot-submit {
      background-color: $main-color;
      border-radius: 8px;
      width: 33px;
      height: 33px;
      margin: 0 0.2rem;
      color: $primary-text;
      font-size: 14px;
      transition: 0.3s;

      &:last-child {
        color: $third-text;
        background-color: $component-normal;
        font-size: 17px;

        &.active {
          background-color: $main-color;
          color: $primary-text;
        }

        &:hover {
          background-color: $main-color;
          color: $primary-text;
        }
      }

      &:disabled {
        background-color: $hover-color;
        color: $secondary-text;
        opacity: 0.5;
      }
    }
  }

  #information-container {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 7rem;

    .query-title {
      font-family: "BPG Glaho WEB Caps", sans-serif;
      color: $primary-text;
      margin-top: 10px;
    }

    .query-info {
      font-family: "BPG Arial", sans-serif;
      color: $secondary-text;
      margin-bottom: 5px;
    }

    h5 {
      font-family: "BPG Arial", sans-serif;
      color: $primary-text;
      font-size: 13px;
    }

    .undefined{
      color: $primary-text;
      font-family: "BPG Arial", sans-serif;
    }

    a{
      color: $secondary-text;
      font-family: "BPG Glaho WEB Caps", sans-serif;
      font-size: 14px;
      text-decoration: none;
      line-height: 2;
      font-weight: bold;

       i{
        font-weight: bold;
       }
    }
  }
}

@media screen and (max-width: 768px) {
  .freshBot {
    width: 95%;

    .shadow-container {
      p {
        display: none;
      }
    }

    & .freshBot-form {
      width: 95%;
      margin-bottom: 10px;
    }
  }
}
