.header {
  background-color: $body-color;

  .logo_and_menu {
    display: flex;
    align-items: center;

    & span {
      font-weight: bold;
      color: $primary-text;
    }
  }

  .navbar {
    background-color: $body-color;

    .nav-btn {
      color: $primary-text;
      border-radius: 50%;
      margin-right: 20px;

      &:hover {
        background-color: $hover-color;
        color: $primary-text;
      }

      &:active {
        background-color: $active-color !important;
        color: $primary-text !important;
      }
    }

    & form {
      background-color: $component-normal;
      padding: 9px 15px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "nusxuri", sans-serif;
      font-size: 15px;

      & i {
        color: $secondary-text;
        font-size: 18px;
      }

      & input {
        background-color: $component-normal;
        border: none;
        padding: 0 10px;
        width: 280px;
        color: $primary-text;

        &::placeholder {
          color: $secondary-text;
        }

        &:focus {
          outline: none;
          border: none;
        }
      }
    }

    .navbar-btns {
      .btn {
        border-radius: 50%;
        color: $primary-text;

        &:first-child {
          display: none;
        }

        &:hover {
          background-color: $hover-color;
          color: $primary-text;
        }

        &:active {
          background-color: $active-color !important;
          color: $primary-text !important;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .navbar {
      & form {
        display: none;
      }

      .navbar-btns {
        .btn {
          &:first-child {
            display: inline;
          }
        }
      }
    }

    .mobile-search {
      .mobile-search-form {
        background-color: $component-normal;
        padding: 7px 10px;
        border-radius: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        color: $primary-text;

        input {
          background-color: $component-normal;
          border: none;
          outline: none;
          padding: 0 10px;
          width: 100%;
          color: $primary-text;
          font-family: "nusxuri", sans-serif;

          ::placeholder {
            color: $primary-text;
          }
        }
      }

      .list-group{
        .list-group-item{
          background-color: $component-normal;
          font-family: "nusxuri", sans-serif !important;
        }
      }
    }
  }
}
