#header {
  background: $surface-primary;
  width: 100%;
  position: fixed;

  &.scrolled{
    border-bottom: 1px solid $border-medium;
  }

  .logo_and_menu {
    display: flex;
    align-items: center;

    & span {
      font-weight: bold;
      color: $text-primary;
    }
  }

  .navbar {
    background: $surface-primary;

    .nav-btn {
      color: $text-primary;
      border-radius: 50%;
      margin-right: 20px;

      &:hover {
        background: $hover-color;
        color: $text-primary;
      }

      &:active {
        background: $active-color !important;
        color: $text-primary !important;
      }
    }

    & .search-box {
      background: $surface-secondary;
      padding: 9px 10px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "BPG Arial", sans-serif;
      font-size: 15px;

      & button {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: $text-primary;

        & i {
          font-size: 13px;
          color: $surface-primary;
        }
      }

      & input {
        background: $surface-secondary;
        border: none;
        padding: 0 10px;
        width: 280px;
        color: $text-primary;

        &::placeholder {
          color: $text-secondary;
        }

        &:focus {
          outline: none;
          border: none;
        }
      }
    }

    .navbar-btns {
      .btn {
        border-radius: 50%;
        color: $text-primary;

        &:first-child {
          display: none;
        }

        &:hover {
          background: $surface-secondary;
          color: $text-primary;
        }

        &:active {
          background: $active-color !important;
          color: $text-primary !important;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .navbar {
      & .search-box {
        display: none;
      }

      .navbar-btns {
        .btn {
          &:first-child {
            display: inline;
          }
        }
      }
    }

    .mobile-search {
      .mobile-search-form {
        background: $component-normal;
        padding: 7px 10px;
        border-radius: 30px;
        display: flex;
        justify-content: start;
        align-items: center;
        color: $text-primary;

        & button {
          background: $text-primary;
          color: $body-color;
          border-radius: 50%;
          min-width: 30px;
          min-height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;

          & i {
            font-size: 13px;
          }
        }

        input {
          background: $component-normal;
          border: none;
          outline: none;
          padding: 0 10px;
          width: 100%;
          color: $text-primary;
          font-family: "BPG Arial", sans-serif;

          ::placeholder {
            color: $text-primary;
          }
        }
      }

      .list-group {
        background: $component-normal;
        font-family: "BPG Arial", sans-serif;
        border-radius: 15px;
        padding: 5px;

        .list-group-item {
          background: $component-normal;
          font-family: "BPG Arial", sans-serif;
          border-radius: 10px;
          color: $text-secondary;
          margin: 0;

          &:hover {
            background: $body-color !important;
          }
        }
      }
    }
  }
}
