:root{
    --bg-color-1: #373a3e;
    --bg-color-2: #515b63;
    --response-background-color: #373a3e;
    --txt-color-2: #c2c2c2;
    --txt-color-1: #ffffff;
    --main-color: #00c896;
    --main-color-hover: #00dda5;
    --main-color-active: #00af9c;
    --send-btn-color: linear-gradient(to right top, #00c896, #00cc99, #00d19c, #00d5a0, #00daa3);
    --shadow-effect: linear-gradient(180deg, #1c1c1c00, #515b63, #515b63);
    --border-color: #2424249a;
    --base-font: "BPG Ingiri", sans-serif;
    --title-font: "ALK Sanet", sans-serif;
    --opacity-1: 1;
    --opacity-05: 0.3;
    --tran-3: 0.15s;
    --tran-4: 0.16s;
    --tran-5: 0.17s;
    --tran-6: 0.19s;
    --font-very-small: 11px;
    --font-small: 13px;
    --font-medium: 14px;
    --font-big: 16px;
    --font-bigest: 18px;
    --font-title-small: 18px;
    --font-title-medium: 21px;
    --font-title-large: 26px;









    --white: #fff;
    --black: #000;
    --gray-50: #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #565869;
    --gray-700: #40414f;
    --gray-800: #343541;
    --gray-900: #202123;
    --gray-950: #050509;
    --gizmo-gray-500: #999;
    --gizmo-gray-600: #666;
    --gizmo-gray-950: #0f0f0f;
}


// ============== Dark Mode ============== //
// Background colors
$body-color: #343541;
$component-dark: #1e1e1e;
$component-normal: #2e303b;
$component-light: #202123;
$component-very-light: #272727;
$hover-color: #2e303b;
$active-color: #2a2a34;
// Text colors
$secondary-text:  #7d7d89;
$primary-text: #ffffff;
// Border color
$border-bold: #565869;
$border-light: #24242436;
// Main color
$main-color: #00c896;

// Gradient color
$gradient-btn: linear-gradient(to right top, #00c896, #00d6a0, #00e3aa, #00f1b5, #00ffbf);





