// background colors
$bg-body-dark: #1e1e2a;
$bg-light: #fff;
$bg-component-dark: #171720;
$bg-component-dark-light: #262736;

// component colors
$purple: #834cff;
$magenta: #b731d6;
$red: #f73f71;
$white: #ffffff;
$desaturated-blue: #242438;
$grayish-blue: #505066;

$gradient: linear-gradient(32deg, rgba(131,76,255,1) 0%, rgba(183,49,214,1) 100%);


// shadow
$shadow-sm: rgba(149, 157, 165, 0.2) 0px 8px 24px;