.wrapper{
    border-radius: 20px;
    border: 1px solid $border-bold;
  }
  .wrapper .text-input{
    display: flex;
    border-bottom: 1px solid $border-bold;
  }
  .text-input .to-text{
    border-radius: 0px;
    border-left: 1px solid $border-bold;
  }
  .text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 20px;
    color: $primary-text;
  }
  .text-input textarea::placeholder{
    color: $secondary-text;
  }
  .controls, li, .icons, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .controls{
    list-style: none;
    padding: 12px 15px;
  }
  .controls .row .icons{
    width: 38%;
  }
  .controls .row .icons i{
    width: 50px;
    color: $secondary-text;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease;
    justify-content: center;
  }
  .controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid $border-bold;
  }
  .controls .row.to .icons{
    padding-left: 15px;
    border-left: 1px solid $border-bold;
  }

  .controls .row select{
    color: $primary-text;
    border: none;
    width: auto;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    background: $body-color;
    padding-left: 5px;
  }


  .text-input textarea::-webkit-scrollbar{
    width: 4px;
  }
  .controls .row select::-webkit-scrollbar{
    display: none;
  }
  .text-input textarea::-webkit-scrollbar-track,
  .controls .row select::-webkit-scrollbar-track{
    background: #fff;
  }
  .text-input textarea::-webkit-scrollbar-thumb{
    background: #ddd;
    border-radius: 8px;
  }
  .controls .row select::-webkit-scrollbar-thumb{
    background: #999;
    border-radius: 8px;
    border-right: 2px solid $border-bold;
  }
  .controls .exchange{
    color: #adadad;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease;
  }
  .controls i:active{
    transform: scale(0.9);
  }
  .translate-box button{
    width: 100%;
    padding: 14px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 20px;
    background: $main-color;
  }
  
  @media (max-width: 660px){
    .wrapper .text-input{
      flex-direction: column;
    }
    .text-input .to-text{
      border-left: 0px;
      border-top: 1px solid $border-bold;
    }
    .text-input textarea{
      height: 200px;
    }
    .controls .row .icons{
      display: flex;
    }
    .container button{
      font-size: 16px;
    }
    .controls .row select{
      font-size: 1px;
    }
    .controls .exchange{
      font-size: 14px;
    }
  }