@import './Components/root';
@import './Components/button';
@import './Components/header';
@import './Components/fonts';
@import './Components/offcanvas';
@import './Components/dropdown';
@import './Components/modal';
@import './Components/list-group';
@import './Components/freshBot';
@import './Components/translate';
@import './Components/secret';
@import './Components/settings';

*::-webkit-scrollbar{
    width: 8px;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: $surface-tertiary;
    border-radius: 10px;
}

body{
    background-color: $surface-primary !important;
    font-family: 'Comfortaa', sans-serif !important;
}
