@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=IBM+Plex+Sans:wght@600;700&display=swap");
:root {
  --bg-color-1: #373a3e;
  --bg-color-2: #515b63;
  --response-background-color: #373a3e;
  --txt-color-2: #c2c2c2;
  --txt-color-1: #ffffff;
  --main-color: #00c896;
  --main-color-hover: #00dda5;
  --main-color-active: #00af9c;
  --send-btn-color: linear-gradient(to right top, #00c896, #00cc99, #00d19c, #00d5a0, #00daa3);
  --shadow-effect: linear-gradient(180deg, #1c1c1c00, #515b63, #515b63);
  --border-color: #2424249a;
  --base-font: "BPG Ingiri", sans-serif;
  --title-font: "ALK Sanet", sans-serif;
  --opacity-1: 1;
  --opacity-05: 0.3;
  --tran-3: 0.15s;
  --tran-4: 0.16s;
  --tran-5: 0.17s;
  --tran-6: 0.19s;
  --font-very-small: 11px;
  --font-small: 13px;
  --font-medium: 14px;
  --font-big: 16px;
  --font-bigest: 18px;
  --font-title-small: 18px;
  --font-title-medium: 21px;
  --font-title-large: 26px;
  --white: #fff;
  --black: #000;
  --gray-50: #f7f7f8;
  --gray-100: #ececf1;
  --gray-200: #d9d9e3;
  --gray-300: #c5c5d2;
  --gray-400: #acacbe;
  --gray-500: #8e8ea0;
  --gray-600: #565869;
  --gray-700: #40414f;
  --gray-800: #343541;
  --gray-900: #202123;
  --gray-950: #050509;
  --gizmo-gray-500: #999;
  --gizmo-gray-600: #666;
  --gizmo-gray-950: #0f0f0f;
}

i:before {
  line-height: 1.6 !important;
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  border: unset !important;
}

button {
  position: relative;
  overflow: hidden;
  border: unset !important;
  outline: unset !important;
}
button:active, button:focus {
  box-shadow: none !important;
}

.btn {
  font-family: "nusxuri", sans-serif;
}

.btn-primary {
  background-color: #00c896;
}

.btn-close {
  background-image: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  opacity: 1;
  transition: 0.3s;
}
.btn-close:hover, .btn-close:active {
  color: #ffffff !important;
  opacity: 1;
}

.header {
  background-color: #343541;
}
.header .logo_and_menu {
  display: flex;
  align-items: center;
}
.header .logo_and_menu span {
  font-weight: bold;
  color: #ffffff;
}
.header .navbar {
  background-color: #343541;
}
.header .navbar .nav-btn {
  color: #ffffff;
  border-radius: 50%;
  margin-right: 20px;
}
.header .navbar .nav-btn:hover {
  background-color: #2e303b;
  color: #ffffff;
}
.header .navbar .nav-btn:active {
  background-color: #2a2a34 !important;
  color: #ffffff !important;
}
.header .navbar form {
  background-color: #2e303b;
  padding: 9px 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "nusxuri", sans-serif;
  font-size: 15px;
}
.header .navbar form i {
  color: #7d7d89;
  font-size: 18px;
}
.header .navbar form input {
  background-color: #2e303b;
  border: none;
  padding: 0 10px;
  width: 280px;
  color: #ffffff;
}
.header .navbar form input::-moz-placeholder {
  color: #7d7d89;
}
.header .navbar form input::placeholder {
  color: #7d7d89;
}
.header .navbar form input:focus {
  outline: none;
  border: none;
}
.header .navbar .navbar-btns .btn {
  border-radius: 50%;
  color: #ffffff;
}
.header .navbar .navbar-btns .btn:first-child {
  display: none;
}
.header .navbar .navbar-btns .btn:hover {
  background-color: #2e303b;
  color: #ffffff;
}
.header .navbar .navbar-btns .btn:active {
  background-color: #2a2a34 !important;
  color: #ffffff !important;
}
@media screen and (max-width: 768px) {
  .header .navbar form {
    display: none;
  }
  .header .navbar .navbar-btns .btn:first-child {
    display: inline;
  }
  .header .mobile-search .mobile-search-form {
    background-color: #2e303b;
    padding: 7px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #ffffff;
  }
  .header .mobile-search .mobile-search-form input {
    background-color: #2e303b;
    border: none;
    outline: none;
    padding: 0 10px;
    width: 100%;
    color: #ffffff;
    font-family: "nusxuri", sans-serif;
  }
  .header .mobile-search .mobile-search-form input ::-moz-placeholder {
    color: #ffffff;
  }
  .header .mobile-search .mobile-search-form input ::placeholder {
    color: #ffffff;
  }
  .header .mobile-search .list-group .list-group-item {
    background-color: #2e303b;
    font-family: "nusxuri", sans-serif !important;
  }
}

@font-face {
  font-family: "nusxuri";
  src: url("/Assets/Fonts/Nusxuri/fonts/bpg-arial-webfont.ttf");
}
@font-face {
  font-family: "mtavruli";
  src: url("/Assets/Fonts/Mtavruli/fonts/bpg-glaho-web-caps-webfont.ttf");
}
.offcanvas {
  background-color: #343541;
  width: 400px !important;
}

.offcanvas-header {
  font-family: "mtavruli", sans-serif;
}
.offcanvas-header h5 {
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.offcanvas-start {
  border-radius: 0 15px 15px 0;
}

.offcanvas-end {
  border-radius: 15px 0 0 15px;
}

.menu-offcanvas {
  width: 400px !important;
}
.menu-offcanvas .offcanvas-body {
  padding: 10px;
}

.offcanvas-body {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .offcanvas {
    width: 80% !important;
  }
  .menu-offcanvas {
    width: 80% !important;
  }
}
.modal .modal-dialog {
  border-radius: 20px;
}
.modal .modal-dialog .modal-content {
  background-color: #343541;
  border-radius: 20px;
  border: 1px solid #2e303b;
}
.modal .modal-dialog .modal-content .modal-header,
.modal .modal-dialog .modal-content .modal-footer {
  border: none;
}
.modal .modal-dialog .modal-content button {
  font-size: 13px;
  border-radius: 10px;
}

.list-group {
  background-color: #343541;
}
.list-group .list-group-item {
  background-color: #343541;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  color: #ffffff;
  font-family: "mtavruli", sans-serif;
  font-size: 14px;
  transition: background-color 0.3s;
}
.list-group .list-group-item i {
  margin-right: 10px;
}
.list-group .list-group-item:hover {
  background-color: #2e303b;
}
.list-group .list-group-item:active {
  background-color: #2a2a34;
}
.list-group .list-group-item.active {
  background-color: #00c896;
}
.list-group .list-group-item.disabled {
  color: #7d7d89;
  cursor: not-allowed;
}

.freshBot {
  margin-top: 3rem;
  background-color: #343541;
  padding: 20px;
  border-radius: 20px;
}
.freshBot .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background-color: #343541;
  border: none;
}
.freshBot .header h2 {
  font-weight: 900;
  font-family: "IBM Plex Sans", sans-serif;
  color: #ffffff;
}
.freshBot .header p {
  font-family: "mtavruli", sans-serif;
  color: #7d7d89;
  font-weight: 500;
}
.freshBot .shadow-container {
  height: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  align-content: center;
  color: #ffffff;
  flex-direction: column;
  flex-wrap: wrap;
}
.freshBot .shadow-container p {
  font-size: 11px;
  margin: 0;
  padding: 5px 0;
}
.freshBot .freshBot-form {
  border: 1px solid #565869;
  background-color: #343541;
  padding: 10px 10px;
  border-radius: 17px;
  font-family: "nusxuri", sans-serif;
  font-size: 14px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.freshBot .freshBot-form input {
  border: none;
  background-color: #343541;
  width: 100%;
  color: #ffffff;
}
.freshBot .freshBot-form input::-moz-placeholder {
  color: #7d7d89;
}
.freshBot .freshBot-form input::placeholder {
  color: #7d7d89;
}
.freshBot .freshBot-form input:focus {
  outline: none;
}
.freshBot .freshBot-form .freshBot-submit {
  background-color: #2e303b;
  border-radius: 8px;
  width: 33px;
  height: 33px;
  margin: 0 0.2rem;
  color: #7d7d89;
}
.freshBot .freshBot-form .freshBot-submit:last-child {
  color: #ffffff;
}
.freshBot .freshBot-form .freshBot-submit:disabled {
  opacity: 0.6;
}
.freshBot #information-container .query-title {
  font-family: "mtavruli", sans-serif;
  color: #ffffff;
  margin-top: 10px;
}
.freshBot #information-container .query-info {
  font-family: "nusxuri", sans-serif;
  color: #7d7d89;
}
.freshBot #information-container h5 {
  font-family: "nusxuri", sans-serif;
  color: #ffffff;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .freshBot {
    width: 95%;
  }
  .freshBot .shadow-container p {
    display: none;
  }
  .freshBot .freshBot-form {
    width: 95%;
    margin-bottom: 10px;
  }
}
.wrapper {
  border-radius: 20px;
  border: 1px solid #565869;
}

.wrapper .text-input {
  display: flex;
  border-bottom: 1px solid #565869;
}

.text-input .to-text {
  border-radius: 0px;
  border-left: 1px solid #565869;
}

.text-input textarea {
  height: 250px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 20px;
  color: #ffffff;
}

.text-input textarea::-moz-placeholder {
  color: #7d7d89;
}

.text-input textarea::placeholder {
  color: #7d7d89;
}

.controls, li, .icons, .icons i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  list-style: none;
  padding: 12px 15px;
}

.controls .row .icons {
  width: 38%;
}

.controls .row .icons i {
  width: 50px;
  color: #7d7d89;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
}

.controls .row.from .icons {
  padding-right: 15px;
  border-right: 1px solid #565869;
}

.controls .row.to .icons {
  padding-left: 15px;
  border-left: 1px solid #565869;
}

.controls .row select {
  color: #ffffff;
  border: none;
  width: auto;
  outline: none;
  font-size: 15px;
  border-radius: 20px;
  background: #343541;
  padding-left: 5px;
}

.text-input textarea::-webkit-scrollbar {
  width: 4px;
}

.controls .row select::-webkit-scrollbar {
  display: none;
}

.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track {
  background: #fff;
}

.text-input textarea::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 8px;
}

.controls .row select::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
  border-right: 2px solid #565869;
}

.controls .exchange {
  color: #adadad;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
}

.controls i:active {
  transform: scale(0.9);
}

.translate-box button {
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 20px;
  background: #00c896;
}

@media (max-width: 660px) {
  .wrapper .text-input {
    flex-direction: column;
  }
  .text-input .to-text {
    border-left: 0px;
    border-top: 1px solid #565869;
  }
  .text-input textarea {
    height: 200px;
  }
  .controls .row .icons {
    display: flex;
  }
  .container button {
    font-size: 16px;
  }
  .controls .row select {
    font-size: 1px;
  }
  .controls .exchange {
    font-size: 14px;
  }
}
.bg-body-tertiary,
body {
  background-color: #343541 !important;
  font-family: "Comfortaa", sans-serif !important;
}/*# sourceMappingURL=style.css.map */